@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @apply relative;
    box-sizing: border-box;
    font-variant-ligatures: none;
  }
  body{
    @apply  text-dark;
    background: url('/images//shared/white-bg.png') no-repeat fixed;

  }
  section {
    @apply px-[6.99vw] tablet:px-[6.25vw] desktop:px-[8.736vw]
  }
}

@layer components{
  // ::-webkit-scrollbar {
  //   @apply hidden bg-transparent desktop:flex  desktop:w-[0.417vw];
  // }

  
  // /* Track */
  // ::-webkit-scrollbar-track {
  //   @apply bg-transparent;
  // }

  // /* Handle */
  // ::-webkit-scrollbar-thumb {
  //   @apply hidden bg-red-900  desktop:flex  desktop:rounded-[0.208vw];

  // }

  .fontHeavy {
    font-weight: 900;
  }
  .textShadow{
    text-shadow: 0px 4px 4px #000000cc;
  }

  .navlink{
    &:hover::before{
      @apply w-[calc(100%+9.32vw)] tablet:w-[calc(100%+5vw)] desktop:w-[calc(100%+2.08vw)]
    }
    &::before{
      content: "";
      @apply  -left-[4.66vw] tablet:-left-[2.5vw] desktop:-left-[1.04vw] transition-all duration-300 block bg-dark/10 absolute top-0  h-full w-0
    }
  }


  %linearBorder {
    position: relative;
    border-color: transparent;
    background-color: transparent;
    @apply p-[0.466vw] tablet:p-[0.25vw] desktop:p-[0.104vw];
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      /* control the border thickness */
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      @apply p-[0.466vw] tablet:p-[0.25vw] desktop:p-[0.104vw];
    }

    &.linear-border-animated {
      @apply p-[0.466vw] tablet:p-[0.25vw] desktop:p-[0.104vw];
      &::before {
        @apply p-[0.466vw] tablet:p-[0.25vw] desktop:p-[0.104vw];
        background-size: 500% auto;
        animation: backgroundPositionFromLeftToRight 2s linear infinite alternate;
      }
    }
  }

  .linear-border {
    @extend %linearBorder;

    &::before {
      content: '';
      @apply bg-linear-border
    }
  }
  .linear-border-vertical {
    @extend %linearBorder;

    &::before {
      content: '';
      @apply bg-linear-border-vertical
    }
  }
  .animatedText{
    animation: textRotation 8s linear infinite;
    span {
      @apply absolute left-[50%];
      transform-origin: 0 16.31vw;
      @media (min-width:481px) {
        transform-origin: 0 16.25vw;
      }
      @media (min-width:1024px) {
        transform-origin: 0 6.76vw;
      }
    }

}
.section-py{
  @apply py-[6.99vw] tablet:py-[6.25vw] desktop:py-[5.2vw]

}
}


@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}